<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../../../static/main/styles/style.css"/>
<meta charset ="UTF-8">
        <title>Portfolio</title>
    </head>
    <body>
<header>
	<div class="container">
		<div class="heading clearfix">
<img src="../../../static/main/pictures/logo.png" alt="Vladislav Kuziuta" class="logo">
<nav>
	<ul class="menu">
		<li>
			<a href="{% url 'about' %}">Home</a>
		</li>
		<li>
            <a href='#MyPortfolio'>My portfolio</a>
		</li>
	</ul>
</nav>
		</div>
<div class="titles">
<h5>Hello,My name is Vladislav Kuziuta and I am</h5>
<h1>Full stack developer</h1>
   <h5>Welcome to my portfolio.</h5> 
	</div>
       <a class="button" href="#MyPortfolio">Portfolio</a>
    </div>
</header>
        
        <section id="MyPortfolio">
<div class="container">
<div class="title">
   
    <h3>
      Portfolio
    </h3>
    <hr>
    </div>
      <div class="PersonInfo clearfix">
            <img src="../../../static/main/pictures/1.jpg" alt="My photo">
          <p>Hello!My name is Vladislav.I am from Belarus.Now I am studing at Grodno State University.Skilled Java developer and team leader with diverse experience utilizing Java tools for client-server environments and fluid understanding of many programming languages including C, C++, JavaScript, XML, and HTML. Worked with a large team of GUI and Java developers to maintain and improve company projects. Assisted with disaster recovery environments for critical business applications. Received the Eclipse Award for Best Java Application.  </p>
          <hr>
          </div>
        
        </div>
</section>
        
        <footer>
<div class="container">
<div id="socials">
    <a href="https://vk.com/vlad_kuzuta_19" title="Vkontakte" tagret="_blank">
          <img src="../../../static/main/pictures/vk.png" alt="vk" ></a>
    <a href="https://www.facebook.com/" title="facebook" tagret="_blank">
          <img src="../../../static/main/pictures/facebook-128.png" alt="facebook"></a>
    <a href="https://twitter.com/?lang=ru" title="twitter" tagret="_blank">
          <img src="../../../static/main/pictures/twitter-128.png" alt="twitter"></a>
    </div>
 <div id="rights">&copy; 2021 Vladislav Kuziuta
    </div>
</div>
</footer>
        
    </body>
</html>