<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../../../static/main/styles/style.css"/>
<meta charset ="UTF-8">
        <title>Projects</title>
    </head>
    <body>
<header>
	<div class="container">
		<div class="heading clearfix">
<img src="../../../static/main/pictures/logo.png" alt="Vladislav Kuziuta" class="logo">
<nav>
	<ul class="menu">
		<li>
			<a href="{% url 'about' %}">Home</a>
		</li>
		<li>
            <a href='#MyProjects'>My projects</a>
		</li>
	</ul>
</nav>
		</div>
<div class="titles">
<h5>Hello,My name is Vladislav Kuziuta and I am</h5>
<h1>Full stack developer</h1>
   <h5>Welcome to my projects.</h5> 
	</div>
       <a class="button" href="#MyProjects">more</a>
    </div>
</header>
        
        <section id="MyProjects">
<div class="container">
<div class="title">
   
    <h3>
      Projects
    </h3>
    <hr>
    </div>
      <div class="Projects clearfix">
          <p>No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.  </p>
           <img src="../../../static/main/pictures/myproj1.jpg" alt="My projects">
          <img src="../../../static/main/pictures/myproj2.png" alt="My projects">
          <img src="../../../static/main/pictures/myproj3.png" alt="My projects">
          </div>
        </div>
        
</section>
        
        <footer>
<div class="container">
<div id="socials">
    <a href="https://vk.com/vlad_kuzuta_19" title="Vkontakte" tagret="_blank">
          <img src="../../../static/main/pictures/vk.png" alt="vk" ></a>
    <a href="https://www.facebook.com/" title="facebook" tagret="_blank">
          <img src="../../../static/main/pictures/facebook-128.png" alt="facebook"></a>
    <a href="https://twitter.com/?lang=ru" title="twitter" tagret="_blank">
          <img src="../../../static/main/pictures/twitter-128.png" alt="twitter"></a>
    </div>
 <div id="rights">&copy; 2021 Vladislav Kuziuta
    </div>
</div>
</footer>
        
    </body>
</html>